version: '3'

# 部署指南：
# 1.把配置里的 solon.cloud.water.server 换成真实的 waterapi 服务地址。并启动


services:
  spongeadmin:
    image: noearorg/spongeadmin:2.7.4
    container_name: spongeadmin
    environment:
      - solon.cloud.water.server=waterapi:9371    # 要改成具体的 Water 服务地址（一般要换成ip）
      - TZ=Asia/Shanghai
    ports:
      - 8171:8171
  rockrpc:
    image: noearorg/rockrpc:2.7.4
    container_name: rockrpc
    environment:
      - solon.cloud.water.server=waterapi:9371    # 要改成具体的 Water 服务地址（一般要换成ip）
      - TZ=Asia/Shanghai
    ports:
      - 8181:8181
  trackapi:
    image: noearorg/trackapi:2.7.4
    container_name: trackapi
    environment:
      - solon.cloud.water.server=waterapi:9371    # 要改成具体的 Water 服务地址（一般要换成ip）
      - TZ=Asia/Shanghai
    ports:
      - 8182:8182