<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE mapper PUBLIC "-//noear.org//DTD Mapper 3.0//EN" "http://noear.org/dtd/weed3-mapper.dtd">

<mapper namespace="zm.data.dobbin.bull.dso.db.mapper.BullOrderMapper"
        import="zm.data.dobbin.bull.models.*"
        db="dobbin">

    <sql id="add_bull_order_validate"
         return="long"
         caching="cache_bull"
         cacheClear="bull_order_validate_${order_id}"
         remarks="新增进件信息">
         INSERT INTO `bull_order_validate` (`order_id`, `user_id`, `app_id`, `p_id`, `validate_info`, `submit_info`,
                                            `log_date`, `log_fulltime`)
                  VALUES (@{order_id:long}, @{user_id:long}, @{app_id:int}, @{p_id:long}, @{validate_info:String}, @{submit_info:String},
                  @{log_date:int}, @{log_fulltime:Date})
    </sql>


    <sql id="add_bull_order"
         return="long"
         caching="cache_bull"
         cacheClear="bull_order, bull_order_user_id_${user_id}"
         remarks="新增订单">
         INSERT INTO `bull_order` (`order_id`, `order_no`, `agroup_id`, `ugroup_id`, `app_id`,
                                    `p_id`, `user_id`, `mobile`, `status`,
                                    `update_date`, `update_fulltime`, `create_date`, `create_fulltime`)
                  VALUES (@{order_id:long}, @{order_no:String}, @{agroup_id:int}, @{ugroup_id:int}, @{app_id:int},
                  @{p_id:long}, @{user_id:long}, @{mobile:String}, @{status:int},
                 @{update_date:int}, @{update_fulltime:Date}, @{create_date:int}, @{create_fulltime:Date})
    </sql>

    <sql id="get_bull_order_by_order_no"
         return="BullOrderModel"
         caching="cache_bull"
         cacheClear="bull_order, bull_order_user_id_${order_no}"
         remarks="根据订单号获取订单详情">
         SELECT * FROM `bull_order` WHERE order_no = @{order_no: String} LIMIT 1;
    </sql>

    <sql id="get_bull_order"
         return="BullOrderModel"
         caching="cache_bull"
         cacheClear="bull_order, bull_order_user_id_${user_id}"
         remarks="获取订单详情">
         SELECT * FROM `bull_order` WHERE user_id = @{user_id: long} AND p_id = @{p_id: long} ORDER BY `order_id` DESC LIMIT 1;
    </sql>

    <sql id="list_bull_order"
         return="List[BullOrderModel]"
         caching="cache_bull"
         cacheClear="bull_order, bull_order_user_id_${user_id}"
         remarks="获取订单列表">
        SELECT * FROM `bull_order` WHERE `user_id` = @{user_id: long} AND `status` = @{status: int}
        <if test="order_id > 0">
            <![CDATA[
                AND `order_id` < @{order_id:long}
            ]]>
        </if>
        ORDER BY `order_id` DESC LIMIT @{limit:int}
    </sql>


    <sql id="set_bull_order_auth_status"
         caching="cache_bull"
         cacheClear="bull_order, bull_order_user_id_${user_id}"
         remarks="更新认证状态">
        UPDATE `bull_order` SET `status` = @{status:int},
        `update_date` = @{update_date:int}, `update_fulltime` = @{update_fulltime:Date} WHERE `user_id` =
        @{user_id:long} AND `p_id` = @{p_id:long} ORDER BY `order_id` DESC LIMIT 1;
    </sql>

    <sql id="set_pm_bull_order"
         caching="cache_bull"
         cacheClear="bull_order, bull_order_user_id_${user_id}"
         remarks="设为产品层面订单">
        UPDATE `bull_order` SET `status` = @{status:int},
        `basic_date` = @{basic_date:int}, `basic_fulltime` = @{basic_fulltime:Date},
        `update_date` = @{update_date:int}, `update_fulltime` = @{update_fulltime:Date} WHERE `user_id` =
        @{user_id:long} AND `p_id` = @{p_id:long} ORDER BY `order_id` DESC LIMIT 1;
    </sql>

    <sql id="set_auth_finish_bull_order"
         caching="cache_bull"
         cacheClear="bull_order, bull_order_user_id_${user_id}"
         remarks="设置认证完成状态">
        UPDATE `bull_order` SET `status` = @{status:int}, `valid_finish_date` = @{valid_finish_date:int},
        `update_date` = @{update_date:int}, `update_fulltime` = @{update_fulltime:Date}
        WHERE `user_id` = @{user_id:long} AND `p_id` = @{p_id:long} ORDER BY `order_id` DESC LIMIT 1;
    </sql>

    <sql id="set_submit_success_bull_order"
         caching="cache_bull"
         cacheClear="bull_order, bull_order_user_id_${user_id}"
         remarks="设为进件成功">
         UPDATE `bull_order` SET `status` = @{status:int}, `out_no` = @{out_no: String},
        `submit_date` = @{submit_date:int}, `submit_fulltime` = @{submit_fulltime:Date},
        `update_date` = @{update_date:int}, `update_fulltime` = @{update_fulltime:Date} WHERE `user_id` =
        @{user_id:long} AND `p_id` = @{p_id:long} ORDER BY `order_id` DESC LIMIT 1;
    </sql>

    <sql id="set_put_loan_bull_order"
         caching="cache_bull"
         cacheClear="bull_order, bull_order_user_id_${user_id}"
         remarks="设为已放款状态">
         UPDATE `bull_order` SET `status` = @{status:int}, `r_amount` = @{r_amount: int}, `l_term` = @{r_term: int},
         `update_date` = @{update_date:int}, `update_fulltime` = @{update_fulltime:Date}
         WHERE `user_id` = @{user_id:long} AND `p_id` = @{p_id:long} ORDER BY `order_id` DESC LIMIT 1;
    </sql>


    <sql id="set_over_due_bull_order"
         caching="cache_bull"
         cacheClear="bull_order, bull_order_user_id_${user_id}"
         remarks="设为逾期状态">
         UPDATE `bull_order` SET `status` = @{status:int}, `over_date` = @{over_date:int},
         `update_date` = @{update_date:int}, `update_fulltime` = @{update_fulltime:Date}
         WHERE `user_id` = @{user_id:long} AND `p_id` = @{p_id:long} ORDER BY `order_id` DESC LIMIT 1;
    </sql>

    <sql id="set_finish_bull_order"
         caching="cache_bull"
         cacheClear="bull_order, bull_order_user_id_${user_id}"
         remarks="设为完结状态">
         UPDATE `bull_order` SET `status` = @{status:int}, `repay_date` = @{repay_date:int},
         `update_date` = @{update_date:int}, `update_fulltime` = @{update_fulltime:Date}
         WHERE `user_id` = @{user_id:long} AND `p_id` = @{p_id:long} ORDER BY `order_id` DESC LIMIT 1;
    </sql>

</mapper>

