<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE mapper PUBLIC "-//noear.org//DTD Mapper 3.0//EN" "http://noear.org/dtd/weed3-mapper.dtd">

<mapper namespace="zm.data.dobbin.bull.dso.db.mapper.CoProductMapper"
        import="zm.data.dobbin.bull.models.*"
        db="sponge_sugar">

    <sql id="get_co_product"
         return="CoProductModel"
         caching="cache_bull"
         cacheClear="co_product, co_product_id_${product_id}"
         remarks="获取产品详情">
         SELECT * FROM `co_product` WHERE product_id = @{product_id:long} LIMIT 1;
    </sql>

    <sql id="list_co_product"
         return="List[CoProductModel]"
         caching="cache_bull"
         cacheTag="product_category"
         remarks="获取产品列表">
        SELECT * FROM `co_product` WHERE bull_api_product = 1;
    </sql>
</mapper>

